---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../components/icons/Linkedin.astro';
import SocialContact from '../components/SocialContact.astro';
import Github from '../components/icons/Github.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';

---

<Layout title="Porfolio de Rasta Panda - Desarrollador y Programador web con más de 4 años de experiencia."
description="Contrata a Rasta Panda para crear aplicaciones web impresionantes">
	<main>
		<SectionContainer class=" sm:py-0" >
			<Image class="rounded-full mx-auto lg:size-24 lg:ml-8" width="86" height="86" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.7p_dP6-0vWarCeVnaxdrCwHaHa%26pid%3DApi&f=1&ipt=78721f705c004f87f5b4fda1c30885f1c9299408f090d0f76034dc58c812c350&ipo=images" loading="eager" alt="Mario Foto"/>
			<h1 
				class="flex flex-col lg:flex-row items-center
					text-xl lg:text-5xl text-balance text-center font-bold 
					pt-4 pb-8
					gap-y-2 lg:gap-y-0
					"
			>
					quepa sopa drinos, soy Rasta Panda✌🏿
				<a 
					href="https://www.linkedin.com/in/williamhgates/" 
					target="_blank" 
					rel="noopener" 
					class="flex items-center justify-center">
					<Badge >Puesto pa los madrazos </Badge>
				</a>
			</h1>
			<h2 class="text-xl text-center md:text-2xl text-balance 
						opacity-75"
			>
			+4 años de experiencia. Desarrollador Web y Maestro Kung Fu. De Tlaxcala, México. Especializado en taichi y en animaciones CSS</h2>
			<nav class="flex gap-x-3 mt-7 justify-center">
				<SocialContact href="https://www.linkedin.com/in/williamhgates/">
					<Linkedin class="size-6" />
					Linkedin
				</SocialContact>
				<SocialContact href="https://github.com/torvalds">
					<Github class="size-6"/>
					Github
				</SocialContact>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 ml-1 flex gap-x-2 items-center"><Briefcase />Experiencia Laboral</h2>               
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<Projects />
		</SectionContainer>
	</main>
</Layout>

<style>
	main {

	}
	
</style>
