---
import ExperiencieItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: 'Actualmente...',
    title: 'Desarrollador Web Junior',
    description: 'En mi rol actual como desarrollador web junior, soy responsable de la creación e implementación de soluciones web seguras y eficientes. Trabajo en estrecha colaboración con el equipo para comprender las necesidades de los usuarios y traducirlas en aplicaciones web intuitivas y fáciles de usar. ',
  },
  {
    date: 'Marzo 2022',
    title: 'Desarrollador Web Freelance',
    description: 'Durante mi tiempo como desarrollador web freelance, trabajé directamente con clientes para crear e implementar sitios web e-commerce personalizados. Me encargaba de todas las etapas del proceso de desarrollo, desde la planificación y el diseño hasta la implementación y el mantenimiento.',
  },
  {
    date: 'Abril 2021',
    title: 'Desarrollador Web en Prácticas',
    description: 'Como desarrollador web en prácticas, tuve la oportunidad de colaborar en el desarrollo de un nuevo sitio web utilizando ReactJS.',
  },
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
    <li class="mb-10 ms-4">
      <ExperiencieItem {...experience}/>
    </li>
    ))
  }           
  

</ol>