---
import Instagram from "./icons/Instagram.astro";
import Linkedin from "./icons/Linkedin.astro";
import Github from "./icons/Github.astro";
---

<footer
  class="flex flex-col items-center bg-neutral-200 text-center text-white dark:bg-neutral-800">
  <div class="pt-9">
    <div class="mb-9 flex justify-center">
      
      <a href="https://instagram.com/vancityreynolds" target="_blank" rel="noopener noreferrer" aria-label="Instagram" class="mr-9 ">
        <Instagram class="size-7"/>
      </a>
      <a href="https://www.linkedin.com/in/williamhgates/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn" class="mr-9 ">
        <Linkedin class="size-7"/>
      </a>
      <a href="https://github.com/torvalds" target="_blank" rel="noopener noreferrer" aria-label="Github" >
        <Github class="size-7"/>
      </a>
    </div>
  </div>

  <!--Copyright section-->
  <div
    class="w-full bg-neutral-950 p-4 text-center text-neutral-700 dark:bg-neutral-950 dark:text-neutral-200">
    © 2024 Copyright:
    <a
      class="text-neutral-800 dark:text-neutral-400"
      href="https://tw-elements.com/"
      >Rasta Panda</a
    >
  </div>
</footer>