---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<header class=" sm:flex sm:justify-center sm:items-center pt-4  lg:pb-24 w-full lg:w-[720px] lg:mx-auto ">
  
  <nav class="flex flex-col gap-x-3 lg:gap-x-10 ">
    <Hamburger />
    <Navigation />
  </nav>
</header>



<script>
  // Find all buttons with the `alert` class on the page.
  const buttons = document.querySelectorAll('a.alert');

  // Handle clicks on each button.
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      alert('Luego lo programo');
    });
  });  
</script>
