<header class="hidden sm:flex justify-center items-center pt-4 pb-10 lg:pb-24 w-full lg:w-[720px] lg:mx-auto ">
  
  <nav class="flex gap-x-3 lg:gap-x-10">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a class="alert" href="#sobre-mi">Acerca de mi</a>
    <a class="alert" href="#contacto">Contacto</a>
  </nav>
</header>



<script>
  // Find all buttons with the `alert` class on the page.
  const buttons = document.querySelectorAll('a.alert');

  // Handle clicks on each button.
  buttons.forEach((button) => {
    button.addEventListener('click', () => {
      alert('Luego lo programo');
    });
  });
</script>