<div class="nav-links w-full sm:gap-x-3 hidden sm:flex m-auto ">
  <a href="#top">Inicio</a>
  <a href="#experiencia">Experiencia</a>
  <a href="#proyectos">Proyectos</a>
  <a class="alert" href="#sobre-mi">Acerca de mi</a>
  <a class="alert" href="#contacto">Contacto</a>
</div>

<style>
  .expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>